.header {
  width: 100vw;
  color: #fff;
  background-color: transparent;
  position: relative;
  z-index: 1000;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 20vw;
  max-width: 100vw;
  margin: 0 auto;
}

.header__logo-img {
  width: 6vw; 
  height: auto;
}

.header__nav-wrapper {
  display: flex;
}

.header__nav-list {
  display: flex;
  gap: 1.5vw; 
  list-style: none;
}

.header__nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 1vw; 
  transition: color 0.3s;
}

.header__nav-link:hover {
  color: #ff5050;
}

.header__nav-icon {
  height: 1.5vw;
  width: auto;
}

.header__nav-line {
  display: block;
  width: 100%;
  height: 0.3vw;
  background-color: #fff;
  border-radius: 0.2vw;
  position: relative;
  transition: all 0.3s ease;
}

.header__nav-line::before,
.header__nav-line::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.3vw;
  background-color: #fff;
  border-radius: 0.2vw;
  left: 0;
  transition: all 0.3s ease;
}

.header__nav-line::before {
  top: -0.8vw;
}

.header__nav-line::after {
  top: 0.8vw;
}

.header__nav-burger.open .header__nav-line {
  background-color: transparent;
}

.header__nav-burger.open .header__nav-line::before {
  transform: rotate(45deg);
  top: 0;
}

.header__nav-burger.open .header__nav-line::after {
  transform: rotate(-45deg);
  top: 0;
}

@media (max-width: 1000px) {
    .header__logo-img {
        width: 30vw; 
        height: auto;
    }
    .header__nav-burger{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5vw;
        height: 10vw;
    }
    .header__nav-line{
        height: 0.5vw;
        background-color: #fff;
        border-radius: 0.5vw;
        left: 0;
        transition: all 0.3s ease;
    }

    .header__nav-line::before,
    .header__nav-line::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0.5vw;
        background-color: #fff;
        border-radius: 0.5vw;
        left: 0;
        transition: all 0.3s ease;
    }
    .header__menu{
        padding: 4vw 8vw;
    }
    .header__nav-wrapper {
        position: fixed;
        top: 0;
        left: -100%;
        width: 70vw;
        height: 100vh;
        background-color: #111;
        padding: 5vw 5vw 0;
        flex-direction: column;
        transition: left 0.3s ease-in-out;
    }

    .header__nav-wrapper.active {
        left: 0;
    }

    .header__nav-list {
        flex-direction: column;
        gap: 4vw; 
    }

    .header__nav-burger {
        display: flex;
    }

    .header__nav-icon {
        height: 6vw;
    }

    .header__nav-link {
        font-size: 4vw;
    }
}

@media (min-width: 1001px) {
  .header__nav-wrapper {
    position: static;
    height: auto;
    background: none;
  }

  .header__nav-list {
    flex-direction: row;
  }

  .header__nav-burger {
    display: none;
  }
}

.hero-wrapper {
  width: 100vw;
  min-height: 100vh;
  background-image: url("../../img/bg-img.jpg"); 
  background-size: cover;    
  background-position: center; 
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
